body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logoImg{
    width: 30px;
    height: 30px;
    margin: 8px;
    float: left;
}

.topnav {
    overflow: hidden;
    background-color: #F53939;
    position: fixed;
    width: 100%;
    height: fit-content;
    margin: 0%;
}

.content{
    padding-top: 3rem;
}

.topnav div a {
    color: #F53939;
    border-bottom: 2px solid #F53939;
}

.topnav #myLinks {
    background-color: #f5f5f5;
    width: fit-content;
    height: 100%;
    position: fixed;
    right: 0;
    display: none;
    text-align: right;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    display: block;
}

.topnav a.icon {
    height: 19px;
    background: #F53939;
    display: block;
    float: right;
}

.active {
    background-color: #F53939;
    color: white;
    text-align: left;
}

.toggle {
    width: 22px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
}

.navbar{
    font-size: 1em;
    display: flex;
    float: right;
}

h1{
    font: optional;
    color: #FF5252;
    margin: 4vw;
    font-size: 2em;
}

.text{
    font-size: 1em;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 700px){
    .myLinks {
        display: none !important;
    }
    .icon {
        display: none !important;
    }
}

@media (max-width: 699.9px){
    .navbar {
        display: none;
    }
}
